[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
pydantic_settings = "*"
requests = "*"
python-dotenv = "*"
sqlalchemy = "*"
aiohttp = "*"
psycopg2-binary = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pylint = "*"
black = "*"
isort = "*"
deepdiff = "*"
respx = "*"
pytest-asyncio = "*"
pyright = "*"
ipykernel = "*"

[requires]
python_version = "3.11"
